<template>

    <div class="mt-16 relative overflow-x-auto shadow-md sm:rounded-lg">
        <table   class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Address
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="salon in salons" class="bg-white border dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium border text-gray-900 whitespace-nowrap dark:text-white">
                   {{salon.id}}
                </th>
                <td class="border px-6 py-4">
                    {{salon.name}}
                </td>
                <td class="border px-6 py-4">
                    {{salon.address}}
                </td>
                <td class="border px-6 py-4">
                    {{salon.date}}
                </td>
                <td class="border px-6 py-4">
                    <Link
                        :href="route('salon.edit', salon.id)"
                        class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Edit
                    </Link>
                    <button
                        @click="deleteSalon(salon.id)"
                        class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Delete
                    </button>

                </td>
            </tr>
            </tbody>
        </table>
        <div class="mx-right w-96 m-6">
            <Link
                :href="route('salon.create')"
                class="bg-blue-500 mb-6 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">
                Add Salon
            </Link>
        </div>
    </div>

</template>

<script>
import {Link, router} from '@inertiajs/vue3'
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue'
import Header from '@/Components/Header.vue'
import {ref} from "vue";

export default {
    name: "Index",
    components: {
        Link
    },
    layout: AuthenticatedLayout,
    props: [
        'salons'
    ],

    setup() {
        const formId = ref(null)

        function deleteSalon(id) {
            formId.value = id;
            router.delete(`/salons/${formId.value}`);
        }

        return {formId, deleteSalon}
    },
}
</script>

<style scoped>

</style>
