<template>
    <div class="mx-auto w-96 m-6">
        <h1 class="text-base dark:bg-red-800/20">Index</h1>
    </div>

    <Header></Header>


    <div class="mt-16 relative overflow-x-auto shadow-md sm:rounded-lg">
        <table   class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Text
                </th>
                <th scope="col" class="px-6 py-3">
                    Content
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="post in posts" class="bg-white border dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium border text-gray-900 whitespace-nowrap dark:text-white">
                   {{post.id}}
                </th>
                <td class="border px-6 py-4">
                    {{post.content}}
                </td>
                <td class="border px-6 py-4">
                    {{post.text}}
                </td>
                <td class="border px-6 py-4">
                    {{post.datePost}}
                </td>
                <td class="border px-6 py-4">
                    <Link :href="route('post.edit', post.id)" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</Link>
                    <button @click="deletePost(post.id)" class="font-medium text-red-600 dark:text-blue-500 hover:underline ml-2">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="mx-right w-96 m-6">
            <Link :href="route('post.create')" class="bg-blue-500 mb-6 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded">Add Post</Link>
        </div>
    </div>

</template>

<script>
import {Link, router} from '@inertiajs/vue3'
import MainLayout from '@/Layouts/MainLayout.vue'
import {ref} from "vue";

export default {
    name: "Index",
    components: {
        Link
    },
    layout: MainLayout,
    props: [
        'posts'
    ],

    setup() {
        const formId = ref(null)

        function deletePost(id) {
            formId.value = id;
            console.log(formId.value);
            router.delete(`/posts/${formId.value}`);
        }

        return {formId, deletePost}
    },
}
</script>

<style scoped>

</style>
