<script setup>
import { Head, Link } from '@inertiajs/vue3';
import NavLink from '@/Components/NavLink.vue';
import ResponsiveNavLink from '@/Components/ResponsiveNavLink.vue';
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import Dropdown from '@/Components/Dropdown.vue';
import DropdownLink from '@/Components/DropdownLink.vue';
import { computed } from 'vue';

const emit = defineEmits(['update:checked']);

const props = defineProps({
    checked: {
        type: [Array, Boolean],
        required: true,
    },
    value: {
        default: null,
    },
});

const proxyChecked = computed({
    get() {
        return props.checked;
    },

    set(val) {
        emit('update:checked', val);
    },
});
</script>

<template>

    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <Link :href="route('index')" class="flex items-center">
                <ApplicationLogo
                    class="block h-9 w-auto fill-current text-gray-800"
                />
            </Link>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">

                <ul
                    class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100
                           rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0
                           md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <NavLink
                            :href="route('index')"
                            class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded
                                   md:bg-transparent md:text-blue-700 md:p-0 dark:text-white
                                   md:dark:text-blue-500"
                            aria-current="page">
                            Home
                        </NavLink>
                    </li>
                    <li v-if="!$page.props.auth.user">
                        <NavLink
                            :href="route('login')"
                            class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded
                                   md:bg-transparent md:text-blue-700 md:p-0 dark:text-white
                                   md:dark:text-blue-500"
                            aria-current="page">
                            Log in
                        </NavLink>
                    </li>
                    <li v-if="!$page.props.auth.user">
                        <NavLink
                            :href="route('register')"
                            class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded
                                   md:bg-transparent md:text-blue-700 md:p-0 dark:text-white
                                   md:dark:text-blue-500"
                            aria-current="page">
                            Register
                        </NavLink>
                    </li>
                    <li v-if="$page.props.auth.user">
                        <NavLink
                            v-if="$page.props.auth.user"
                            :href="route('dashboard')"
                            class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded
                                   md:bg-transparent md:text-blue-700 md:p-0 dark:text-white
                                   md:dark:text-blue-500"
                            aria-current="page">
                            Dashboard
                        </NavLink>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</template>
