<template>

    <div class="container mx-auto sm:max-w-md px-4">
        <div class="mt-6 mb-6">
            <h1 class="text-base dark:bg-red-800/20">Edit</h1>

            <Link :href.prevent="route('salon.index')"
                  class="font-medium text-blue-600 dark:text-blue-500 hover:underline mt-3 ">
                Back
            </Link>
        </div>
        <form @submit.prevent="update(salon.id)">
            <div class="mb-6">
                <label
                    for="name"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Name
                </label>
                <input
                    type="text"
                    id="name"
                    v-model="form.name"
                    class="
                   bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                   focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                   dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                   dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                <p
                    v-if="errors.name"
                    class="mt-2 text-sm text-red-600 dark:text-red-500
                ">
                    <span class="font-medium">
                        {{errors.name}}
                    </span>
                </p>
            </div>
            <div class="mb-6">
                <label
                    for="text"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Address
                </label>
                <input
                    type="text"
                    id="text"
                    v-model="form.address"
                    class="
                   bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                   focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                   dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                   dark:focus:ring-blue-500 dark:focus:border-blue-500"
                >
                <p
                    v-if="errors.address"
                    class="mt-2 text-sm text-red-600 dark:text-red-500
                ">
                    <span class="font-medium">
                        {{errors.address}}
                    </span>
                </p>

            </div>
            <button
                type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300
                       font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600
                       dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                Send
            </button>

        </form>
    </div>
</template>

<script>
import {reactive} from 'vue'
import {Link, router} from '@inertiajs/vue3'
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue'

export default {
    components: {
        Link
    },
    layout: AuthenticatedLayout,
    props: [
        'salon',
        'errors'
    ],
    setup(props) {
        const form = reactive({
            id: props.salon.id,
            name: props.salon.name,
            address:props.salon.address
        })

        const errorMsg = reactive({
            name: null,
            address: null
        })

        function update(id) {
            form.id = id
            router.patch(`/salons/${form.id}`, form)
        }

        return {form, update, errorMsg}
    },
}
</script>

<style scoped>

</style>
